{% extends "base.html" %}

{% load static %}

{% block title %}Blue Vision | Service {% endblock %}

{% block content %}

    <div class="pattern-square"></div>
    <!--Pageheader start-->
    <section class="py-5 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-md-12 col-12">
                    <div class="text-center">
                        <small class="text-uppercase ls-md fw-bold text-primary">Services</small>
                        <h1 class="mt-4">We provide client-centric services</h1>
                        <p class="mb-0 px-lg-9 lead">Maximize and reach your project's full potential with our services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Pageheader end-->
    <!--Construction start-->
    <section id="constructionSection" class="mb-xl-9 py-5">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-5 col-md-6 order-2">
                    {% comment %} <div class="p-3 icon-xl icon-shape rounded bg-primary bg-opacity-10 mb-5 border border-primary-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-vector-pen text-primary" viewBox="0 0 16 16">
                        <path
                            fill-rule="evenodd"
                            d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z" />
                        <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z" />
                    </svg>
                    </div> {% endcomment %}
                    <div class="mb-5 construction">
                        <h2 class="mb-2">Construction</h2>
                        <p class="lead mb-4">
                            Supplying laborers and skilled people for construction projects. In the construction sector, we offer services including civil works, plumbing, welding services, electrical system services and so on.
                        </p>
                        <p class = "mb-6">
                            We deliver comprehensive construction services, including civil works such as excavation, foundation, and structural engineering to support all stages of construction. Our plumbing works ensure the installation and maintenance of water supply and drainage systems, while our welding services support structural integrity and repairs. Additionally, our electrical system services cover the design, installation, and maintenance of electrical systems, including wiring, lighting, and power distribution. Our skilled workforce ensures compliance with safety and quality standards, adapting to the unique demands of each project.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 order-lg-2">
                    <figure class="mb-5 mb-md-0 card-lift shadow">
                        <img src="{% static 'BlueVision_app/images/service/construction.png' %}" alt="service" class="rounded-3 img-fluid" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--Construction end-->
    <!--Manufacturing start-->
    <section id="manufacturingSection" class="mb-xl-9 py-5">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-5 col-md-6">
                    <figure class="mb-5 mb-md-0 card-lift shadow">
                        <img src="{% static 'BlueVision_app/images/service/manufacturing.png' %}" alt="service" class="rounded-3 img-fluid" />
                    </figure>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 mb-4 mb-md-0">
                    {% comment %} <div class="p-3 icon-xl icon-shape rounded bg-success bg-opacity-10 mb-5 border border-success-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-braces-asterisk text-success" viewBox="0 0 16 16">
                        <path
                            fill-rule="evenodd"
                            d="M1.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C2.25 2 1.49 2.759 1.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6ZM14.886 7.9v.164c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456v-1.3c-1.114 0-1.49-.362-1.49-1.456V4.352C14.51 2.759 13.75 2 12.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6ZM7.5 11.5V9.207l-1.621 1.621-.707-.707L6.792 8.5H4.5v-1h2.293L5.172 5.879l.707-.707L7.5 6.792V4.5h1v2.293l1.621-1.621.707.707L9.208 7.5H11.5v1H9.207l1.621 1.621-.707.707L8.5 9.208V11.5h-1Z" />
                        </svg>
                    </div> {% endcomment %}
                    <div class="mb-5 manufacturing">
                        <h2 class="mb-2">Manufacturing</h2>
                        <p class="lead mb-4">
                            Offering staffing solutions for production lines, quality control, and maintenance roles.
                        </p>
                        <p class = "mb-6">
                            Our manufacturing services offer staffing solutions for production lines, quality control, and maintenance roles across various sectors, including electronics, automotive, and consumer goods. We ensure high operational efficiency and productivity by providing skilled workers who are trained to meet industry standards. Our team is equipped to handle both short-term and long-term staffing needs, ensuring that manufacturing processes run smoothly. We focus on enhancing the operational capabilities of our clients, delivering reliable and efficient workforce solutions tailored to specific manufacturing requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Manufacturing end-->
    <!--Agriculture start-->
    <section id="agricultureSection" class="mb-xl-9 py-5">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-6 col-lg-5 order-2">
                    {% comment %} <div class="p-3 icon-xl icon-shape rounded bg-info bg-opacity-10 mb-5 border border-info-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-fill text-info" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    </div> {% endcomment %}
                    <div class="mb-5 agriculture">
                        <h2 class="mb-2">Agriculture</h2>
                        <p class="lead mb-4">
                            Supplying farm laborers, equipment operators, and agribusiness support staff.
                        </p>
                        <p class = "mb-6">
                            In the agriculture sector, we supply farm laborers, equipment operators, and agribusiness support staff for activities such as planting, harvesting, and livestock management. We offer both seasonal and year-round staffing solutions to meet the varying demands of agricultural operations. Our team ensures compliance with agricultural regulations and standards, contributing to the efficiency and productivity of farming activities. We understand the unique challenges of the agriculture industry and provide workforce solutions that enhance the operational capabilities of our clients. Our commitment to quality and reliability ensures the success of agricultural projects.
                        </p>
                    </div>
                    
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 order-lg-2">
                    <figure class="mb-5 mb-md-0 card-lift shadow">
                        <img src="{% static 'BlueVision_app/images/service/agriculture.png' %}" alt="service" class="rounded-3 img-fluid" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--Ecommerce end-->
    <!--Factory Work start-->
    <section id="factorySection" class="mb-xl-9 pb-5">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-5 col-md-6">
                    <figure class="mb-5 mb-md-0 card-lift shadow">
                        <img src="{% static 'BlueVision_app/images/service/factory.png' %}" alt="servuce" class="rounded-3 img-fluid" />
                    </figure>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 mb-4 mb-md-0">
                    {% comment %} <div class="p-3 icon-xl icon-shape rounded bg-warning bg-opacity-10 mb-5 border border-warning-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-phone text-warning" viewBox="0 0 16 16">
                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                    </div> {% endcomment %}
                    <div class="mb-5 factory">
                        <h2 class="mb-2">Factory Work</h2>
                        <p class="lead mb-4">Providing workers for assembly, packaging, and quality inspection tasks</p>
                        <p class = "mb-6">
                            We provide workers for various factory operations, including assembly, packaging, and quality inspection tasks. Our staff is trained to ensure adherence to industry standards, enhancing efficiency and productivity in factory settings. We cater to the diverse needs of factories, offering both temporary and permanent staffing solutions. Our commitment to quality ensures that our workers contribute positively to the production process, maintaining high standards of performance. We support factory operations by providing reliable and skilled labor that meets the specific needs of each client.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Factory Work end-->

    <!--General Services start-->
    <section id="generalSection" class="mb-xl-9 py-5">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-6 col-lg-5 order-2">
                    {% comment %} <div class="p-3 icon-xl icon-shape rounded bg-info bg-opacity-10 mb-5 border border-info-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-fill text-info" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    </div> {% endcomment %}
                    <div class="mb-5 general">
                        <h2 class="mb-2">General Services</h2>
                        <p class="lead mb-4">
                            Providing cleaning staff, super shop assistants and so on for stocking, customer service, and maintenance.
                        </p>
                        <p class="mb-6">
                            Our general services include providing cleaning staff for residential, commercial, and industrial properties, ensuring high standards of cleanliness and hygiene. We also supply super shop helpers who assist with stocking, customer service, and general maintenance tasks. Our team is trained to deliver reliable and efficient service, meeting the diverse needs of our clients. We focus on creating safe and welcoming environments through our cleaning services and support the smooth operation of super shops with our dedicated helpers. Our commitment to quality and customer satisfaction drives our success in the general services sector.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 order-lg-2">
                    <figure class="mb-5 mb-md-0 card-lift shadow">
                        <img src="{% static 'BlueVision_app/images/service/general-service.png' %}" alt="service" class="rounded-3 img-fluid" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--General Services end-->

    <!--Free estimate call start-->
    <section class="py-lg-9 my-lg-10">
        <div class="container bg-light rounded-3 d-flex align-items-center pb-6 pb-md-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="position-relative p-lg-6 p-4">
                        <div class="mb-4">
                            <h2 class="mb-4">
                                Let us know
                                 what are you looking for.
                            </h2>
                            <p class="mb-0 me-xl-7">If you require any of the services mentioned above, please contact us using the form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4 col-lg-5 col-12 position-lg-absolute start-50 ms-lg-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form class="row needs-validation g-3" novalidate>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h2 class="h3">Contact us</h2>
                                        <p class="mb-0">We'll provide the best service for you.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label for="ServiceFirstnameInput" class="form-label">
                                First Name
                                <span class="text-danger">*</span>
                                </label>
                                    <input type="text" class="form-control" id="ServiceFirstnameInput" required />
                                    <div class="invalid-feedback">Please enter firstname.</div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label for="serviceLastnameInput" class="form-label">
                                Last Name
                                <span class="text-danger">*</span>
                                </label>
                                    <input type="text" class="form-control" id="serviceLastnameInput" required />
                                    <div class="invalid-feedback">Please enter lastname.</div>
                                </div>
                                <div class="col-12">
                                    <label for="serviceEmailInput" class="form-label">
                                Email
                                <span class="text-danger">*</span>
                                </label>
                                    <input type="email" class="form-control" id="serviceEmailInput" required />
                                    <div class="invalid-feedback">Please enter email.</div>
                                </div>
                                <div class="col-12">
                                    <label for="servieTextarea" class="form-label">Message</label>
                                    <textarea class="form-control" id="servieTextarea" placeholder="Write to us" rows="5" required></textarea>
                                    <div class="invalid-feedback">Please write message.</div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Let’s work together!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Free estimate call end-->
{% endblock %}