{% extends "base.html" %}

{% load static %}

<title>{% block title %}Blue Vision | License {% endblock %}</title>

{% block content %}
    <!--Square Pattern Start-->
    <div class="pattern-square"></div>
    <!--Square Pattern End-->

    <!--Pageheader start-->
    <section class="py-5 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="text-center">
                        <h1 class="mb-3">Licenses Achieved</h1>
                        <p class="mb-0">Explore our Licenses achieved to gain insights about ourselves.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Pageheader end-->

    <!--License start-->
    <section class="mb-xl-9 my-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license7.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license6.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license5.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license4.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license3.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card shadow border-0 h-100 card-lift">
                        <a href="#!"><img src="{% static 'BlueVisionWeb_app/images/license/license2.jpg' %}" alt="about" class="img-fluid rounded-top-3" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--career study end-->
{% endblock %}