{% extends "base.html" %}

{% load static %}

<title>{% block title %}Blue Vision | Home {% endblock %}</title>

{% block content %}
    <!--Hero start-->
    <section class="position-relative py-10">
        <video class="w-100" autoplay muted loop style="object-fit: cover" playsinline>
            <source src="{% static 'BlueVisionWeb_app/images/landings/it-company/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="container position-relative py-lg-10" data-cue="fadeIn">
            <div class="row py-lg-10 justify-content-center text-center">
                <div class="col-lg-9 col-12">
                    <div class="d-flex flex-column gap-6">
                        <div class="d-flex flex-column gap-4">
                            <h1 class="text-white-stable display-4 mb-0">Welcome to Blue Vision Victory Group</h1>
                            <p class="mb-0 text-white-50 lead px-lg-10">
                                A Leading Contracting Company: Dedicated to Providing High-Quality Services by Supplying Skilled Workers Across Various Sectors, Particularly in Construction and Manufacturing!
                            </p>
                        </div>
                        <div class="d-md-flex d-grid align-items-center justify-content-md-center gap-4">
                            <a href="{% url 'BlueVisionWeb_app:contact' %}" class="btn btn-primary rounded-pill">Contact Us</a>
                            <a href="{% url 'BlueVisionWeb_app:about' %}" class="link-white icon-link icon-link-hover card-grid-link d-flex justify-content-center">
                            About Us

                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Hero end-->

    <!--Service we offer start-->
    <section class="py-xl-9 py-5" data-cue="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-12">
                    <div class="text-center mb-xl-9 mb-5">
                        <small class="text-uppercase ls-md fw-semibold text-primary">Services We Offer</small>
                        <h2 class="mb-0 mt-3 px-xxl-8">Royal service</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-grid" data-cue="zoomIn">
                        <div class="card-grid-inner">
                            <h3 class="card-grid-heading">Construction</h3>
                            <div class="card-grid-text">
                                <p class="mb-0">Supplying laborers and skilled people for construction projects. In the construction sector, we offer services including civil works, plumbing, welding services, electrical system services and so on.</p>
                                <a href="{% url 'BlueVisionWeb_app:service' %}#constructionSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                            <div class="d-block d-lg-none">
                                <a href="{% url 'BlueVisionWeb_app:service' %}#constructionSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        <div class="card-grid-image">
                            <img src="{% static 'BlueVisionWeb_app/images/service/service-1.jpg' %}" alt="service" class="rounded-3 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-grid" data-cue="zoomIn">
                        <div class="card-grid-inner">
                            <h3 class="card-grid-heading">Manufacturing</h3>
                            <div class="card-grid-text">
                                <p class="mb-0">Offering staffing solutions for production lines, quality control, and maintenance roles.</p>
                                <a href="{% url 'BlueVisionWeb_app:service' %}#manufacturingSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                            <div class="d-block d-lg-none">
                                <a href="{% url 'BlueVisionWeb_app:service' %}#manufacturingSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        <div class="card-grid-image">
                            <img src="{% static 'BlueVisionWeb_app/images/landings/service-2.jpg' %}" alt="service" class="rounded-3 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-grid" data-cue="zoomIn">
                        <div class="card-grid-inner">
                            <h3 class="card-grid-heading">Agriculture</h3>
                            <div class="card-grid-text">
                                <p class="mb-0">Supplying farm laborers, equipment operators, and agribusiness support staff.</p>
                                <a href="{% url 'BlueVisionWeb_app:service' %}#agricultureSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                            <div class="d-block d-lg-none">
                                <a href="{% url 'BlueVisionWeb_app:service' %}#agricultureSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        <div class="card-grid-image">
                            <img src="{% static 'BlueVisionWeb_app/images/landings/service-3.jpg' %}" alt="service" class="rounded-3 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-grid" data-cue="zoomIn">
                        <div class="card-grid-inner">
                            <h3 class="card-grid-heading">Factory Work</h3>
                            <div class="card-grid-text">
                                <p class="mb-0">Providing workers for assembly, packaging, and quality inspection tasks.</p>
                                <a href="{% url 'BlueVisionWeb_app:service' %}#factorySection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                            <div class="d-block d-lg-none">
                                <a href="{% url 'BlueVisionWeb_app:service' %}#factorySection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        <div class="card-grid-image">
                            <img src="{% static 'BlueVisionWeb_app/images/landings/service-4.jpg' %}" alt="service" class="rounded-3 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-grid" data-cue="zoomIn">
                        <div class="card-grid-inner">
                            <h3 class="card-grid-heading">General Services</h3>
                            <div class="card-grid-text">
                                <p class="mb-0">Providing cleaning staff, super shop assistants and so on for stocking, customer service, and maintenance.</p>
                                <a href="{% url 'BlueVisionWeb_app:service' %}#generalSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                            <div class="d-block d-lg-none">
                                <a href="{% url 'BlueVisionWeb_app:service' %}#generalSection" class="icon-link icon-link-hover card-grid-link mt-4">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        <div class="card-grid-image">
                            <img src="{% static 'BlueVisionWeb_app/images/landings/service-5.jpg' %}" alt="service" class="rounded-3 img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Service we offer end-->

    <!--Company overview start-->
    <section class="py-xl-9 py-5 company-overview" data-cue="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-xl-7 mb-5">
                        <small class="text-uppercase ls-md fw-semibold text-primary">Company Overview</small>
                        <h2 class="mb-0 mt-3">Discover Our Story: Unveiling the Journey</h2>
                    </div>
                </div>
            </div>
            <div class="row" data-cue="fadeIn">
                <div class="col-12">
                    <div class="tabs-to-dropdown">
                        <div class="nav-wrapper mx-md-10 mb-lg-8 mb-5">
                            <ul class="nav nav-fill d-none d-lg-flex nav-line-bottom nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-company-tab" data-bs-toggle="pill" href="#pills-company" role="tab" aria-controls="pills-company" aria-selected="true">
                                Who we are
                                </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-commitments-tab" data-bs-toggle="pill" href="#pills-commitments" type="button" role="tab" aria-controls="pills-commitments" aria-selected="false">
                                Mission and Vision
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-commitments-tab" data-bs-toggle="pill" href="#pills-commitments-2nd" type="button" role="tab" aria-controls="pills-commitments" aria-selected="false">
                                Goals
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content " id="pills-tabContentOne">
                            <div class="tab-pane fade show active" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab" tabindex="0">
                                <div class="row align-items-center gy-5">
                                    <div class="" data-cue="zoomIn">
                                        <div class="d-flex flex-column gap-4">
                                            <div class="d-flex flex-column gap-2">
                                                <h2>Who We Are</h2>
                                                <p class="mb-0">
                                                    Blue Vision Victory Group is a leading contracting company in Malaysia, established on December 3, 2018. The name Blue Vision Victory reflects our vision and mission to be a competitive contracting company that delivers satisfaction to every customer, tailored to their specific needs and capabilities.
                                                    At Blue Vision Victory Group, we are dedicated to delivering exceptional contracting services by providing skilled employees to a wide range of industries in Malaysia across various sectors, particularly in construction and manufacturing. All the workers we provide are legally employed in Malaysia, ensuring compliance and professionalism.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-commitments" role="tabpanel" aria-labelledby="pills-commitments-tab" tabindex="0">
                                <div class="row g-4" data-cue="zoomIn">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="d-flex flex-column gap-4 text-center text-lg-start mx-4 mx-lg-auto">
                                            <div>
                                                <h3>Mission</h3>
                                                <p class="mb-0">
                                                    <ul>
                                                        <li>
                                                            To provide top-tier staffing solutions that enhance the operational efficiency of our clients across various industries.
                                                        </li>
                                                        <li>
                                                            To cultivate long-term partnerships with our clients by consistently delivering skilled and reliable employees who meet the specific needs of their industries.
                                                        </li>
                                                        <li>
                                                            To maintain a strong commitment to quality, integrity, and excellence in every aspect of our business.
                                                            <a href="{% url 'BlueVisionWeb_app:about' %}#missionVisionGoals">Learn More</a>
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="d-flex flex-column gap-4 text-center text-lg-start mx-4 mx-lg-auto">
                                            <div>
                                                <h3>Vision</h3>
                                                <p class="mb-0">
                                                    <ul>
                                                        <li>
                                                            To be the premier contracting company in Malaysia, known for our exceptional service and unwavering commitment to client satisfaction.
                                                        </li>
                                                        <li>
                                                            To set the standard for excellence in staffing solutions across all industries we serve.
                                                        </li>
                                                        <li>
                                                            To foster a culture of innovation and continuous improvement, ensuring we remain at the forefront of the contracting industry.
                                                            <a href="{% url 'BlueVisionWeb_app:about' %}#missionVisionGoals">Learn More</a>
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-commitments-2nd" role="tabpanel" aria-labelledby="pills-commitments-tab" tabindex="0">
                                <div class="row g-4" data-cue="zoomIn">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="d-flex flex-column gap-4 text-center text-lg-start mx-4 mx-lg-auto">
                                            <div>
                                                <h3>Goals</h3>
                                                <ul>
                                                    <li>
                                                        Deliver Exceptional Staffing Solutions
                                                    </li>
                                                    <li>
                                                        Foster Long-Term Partnerships
                                                    </li>
                                                    <li>
                                                        Promote Employee Growth and Well-Being
                                                        <br>
                                                        <a href="{% url 'BlueVisionWeb_app:about' %}#missionVisionGoals">More Text</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Company overview end-->

    <!--Status start-->
    <section class="py-xl-9 py-5 bg-light" data-cue="fadeIn">
        <div class="container center">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="text-center mb-xl-7 mb-5" data-cue="fadeIn">
                    <small class="text-uppercase ls-md fw-semibold text-primary">Current Projects</small>
                    <h2 class="my-3">Current Projects of Our Company</h2>
                    </div>
                </div>
            </div>
            <!-- Manufacturing Division -->
            <div class="row g-4 ">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-dark table-hover">
                        <caption class="text center font-weight-bold">Manufacturing Division</caption>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>NAMA PROJEK/KILANG</th>
                                <th>TAMPOH KONTRAK</th>
                                <th>KERJA YANG DIJALANKAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="status-success">
                                <td>01</td>
                                <td>FANG & PAI INDUSTRIES SDN.BHD</td>
                                <td>1 TAHUN</td>
                                <td>MEMBEKAL PEKERJA AM</td>
                            </tr>
                            <tr class="status-warning">
                                <td>02</td>
                                <td>FLARIS(M)COMPANY PTE</td>
                                <td>1 TAHUN</td>
                                <td>MEMBEKAL PEKERJA AM</td>
                            </tr>
                            <tr class="status-danger">
                                <td>003</td>
                                <td>TSS FURNITURE INDUSTRIES SDN.BHD</td>
                                <td>1 TAHUN</td>
                                <td>MEMBEKAL PEKERJA AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Construction Division -->
            <div class="row g-4 ">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-dark table-hover">
                        <caption class="text center font-weight-bold">Construction Division</caption>
                        <thead>
                            <tr>
                                <th>NO </th>
                                <th>NAMA PROJEK</th>
                                <th>ALAMAT PROJEK</th>
                                <th>KONTRAKTOR UTAMA</th>
                                <th>TEMPOH</th>
                                <th>KERJA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="status-success">
                                <td>01</td>
                                <td>SHOUTH KEY MEGGAMALL</td>
                                <td>JOHOR BAHRU</td>
                                <td>ECA C&A SDN. BHD</td>
                                <td>2 YEARS</td>
                                <td>CIVIL & STRUCTURAL WORK</td>
                            </tr>
                            <tr class="status-warning">
                                <td>02</td>
                                <td>MONT AGILE KUALA LUMPUR</td>
                                <td>KUALA LUMPUR</td>
                                <td>CTMCC SDN. BHD</td>
                                <td>1 YEAR	</td>
                                <td>LABOUR SUPPLY</td>
                            </tr>
                            <tr class="status-danger">
                                <td>03</td>
                                <td>RESIDENSI DESA IDAMAN</td>
                                <td>KUALA LUMPUR</td>
                                <td>CREC BISMARK JOINT AVENTURE SDN. BHD</td>
                                <td>1 YEAR</td>
                                <td>TIMBER FORMWORK, REBAR, CONCRETE WORK & LABOUR SUPPLY</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Work that has been in prepare -->
            <div class="row g-4 ">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-dark table-hover">
                        <caption class="text center font-weight-bold">Work that has been in prepare</caption>
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>NAMA PROJEK</th>
                                <th>ALAMAT PROJEK</th>
                                <th>KONTRAKTOR UTAMA</th>
                                <th>TEMPOH PROJEK</th>
                                <th>KERJA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="status-success">
                                <td>01</td>
                                <td>P31-P32</td>
                                <td>FOREST CITY JOHOR</td>
                                <td>GAINT LEAP SDN. BHD</td>
                                <td>2 YEARS</td>
                                <td>SKIM, PLASTERING, PAINTING</td>
                            </tr>
                            <tr class="status-warning">
                                <td>02</td>
                                <td>PEMBINAAN RUMAH TETERA</td>
                                <td>ALOR SETAR</td>
                                <td>MYCENTRAL (M) SDN. BHD</td>
                                <td>1 YEAR	</td>
                                <td>LABOUR SUPPLY, SKIM, PLASTERING WORK</td>
                            </tr>
                            <tr class="status-danger">
                                <td>03</td>
                                <td>PTB23461 & PTB20364 R&F</td>
                                <td>JOHOR BAHRU</td>
                                <td>JIN HENG SHENG CONSTRUCTION SDN. BHD</td>
                                <td>1 YEAR</td>
                                <td>LABOUR SUPPLY</td>
                            </tr>
                            <tr class="status-danger">
                                <td>04</td>
                                <td>PTB20365 R&F</td>
                                <td>JOHOR BAHRU</td>
                                <td>CHINA CONSTRUCTION DECORATION GROSDN BHD</td>
                                <td>1 YEAR</td>
                                <td>LABOUR SUPPLY</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- List of Suppliers -->
            <div class="row g-4 ">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-dark table-hover">
                        <caption class="text center font-weight-bold">List of Suppliers</caption>
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>NAME</th>
                                <th>ADDRESS</th>
                                <th>CONTACT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="status-success">
                                <td>01</td>
                                <td>Soon Building Meterial Sdn. Bhd</td>
                                <td>No 749, 18 Milestone 81000 Kulai Besar</td>
                                <td>07-6631578</td>
                            </tr>
                            <tr class="status-success">
                                <td>02</td>
                                <td>Kulai Chuan Seng Sdn. Bhd</td>
                                <td>No 748, 18 Milestone 8100 Kulai Besar</td>
                                <td>07-6631578</td>
                            </tr>
                            <tr class="status-warning">
                                <td>03</td>
                                <td>Juta Hardware Trading</td>
                                <td>Lot 16 Batu 5, Jalan Meru Klang Selangor</td>
                                <td>-</td>
                            </tr>
                            <tr class="status-danger">
                                <td>04</td>
                                <td>Excel Ready Mix Sdn. Bhd</td>
                                <td>16-b Jalan Tebrau Johor</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--Status end-->

    <!--Form section start-->
    <section class="bg-light py-lg-9 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow-lg" data-cue="zoomIn">
                        <div class="row g-0">
                            <div class="col-md-6 d-none d-md-block rounded-start-3" style="
                                background-image: url({% static 'BlueVisionWeb_app/images/landings/it-company/it-company-form-img.jpg);' %}
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            ">
                                <!-- for mobile img-->
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card-body p-md-5">
                                    <form method="post" class="row needs-validation g-3" novalidate>
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                        <div class="col-lg-12">
                                            <div>
                                                <h3>Need Any Service?</h3>
                                                <p class="mb-0">
                                                    Drop us a line about your query at
                                                    <span><a href="#!">contact@example.com</a></span> or via the contact form below, and we will contact you soon.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label for="companyFirstnameInput" class="form-label">
                                        First Name
                                        <span class="text-danger">*</span>
                                    </label>
                                            <input type="text" class="form-control" id="companyFirstnameInput" required />
                                            <div class="invalid-feedback">Please enter firstname.</div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <label for="companyNameInput" class="form-label">
                                        Company
                                        <span class="text-danger">*</span>
                                    </label>
                                            <input type="text" class="form-control" id="companyNameInput" required />
                                            <div class="invalid-feedback">Please enter lastname.</div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="companyEmailInput" class="form-label">
                                        Work Email
                                        <span class="text-danger">*</span>
                                    </label>
                                            <input type="email" class="form-control" id="companyEmailInput" required />
                                            <div class="invalid-feedback">Please enter email.</div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="companyPhoneInput" class="form-label">
                                        Phone
                                        <span class="text-danger">*</span>
                                    </label>
                                            <input type="tel" class="form-control" id="companyPhoneInput" required />
                                            <div class="invalid-feedback">Please enter phone.</div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="companyTextarea" class="form-label">Describe your idea</label>
                                            <textarea class="form-control" id="companyTextarea" placeholder="Write to us" rows="3" required></textarea>
                                            <div class="invalid-feedback">Please write message.</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="companyCheckagree" required />
                                                <label class="form-check-label" for="companyCheckagree">
                                            I agree to the
                                            <a href="#!">privacy policy</a>
                                        </label>
                                                <div class="invalid-feedback">You must agree before submitting.</div>
                                            </div>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary rounded-pill" type="submit">Let’s work together!</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Form section end-->
{% endblock %}

    
{% block scripts %}
    <script src="{% static 'BlueVisionWeb_app/libs/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/jarallax.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/libs/parallax-js/dist/parallax.min.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/parallax.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'BlueVisionWeb_app/libs/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/swiper.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/libs/glightbox/dist/js/glightbox.min.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/glight.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/libs/scrollcue/scrollCue.min.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/scrollcue.js' %}"></script>
    <script src="{% static 'BlueVisionWeb_app/js/vendors/tab-to-dropdown.js' %}"></script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}